@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --font-montserrat: 'Montserrat', sans-serif;
  }

  body {
    @apply bg-neutral-white text-primary overflow-x-hidden;
  }

  html {
    @apply overflow-x-hidden;
    scroll-behavior: smooth;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-bold;
  }

  ul {
    list-style-type: disc;
    list-style-position: inside;
  }

  .material-symbols-rounded {
    font-family: 'Material Symbols Rounded';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    font-feature-settings: 'liga';
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .section-padding {
    @apply py-16 md:py-24 lg:py-32;
  }

  .container-custom {
    @apply max-w-7xl mx-auto px-4 sm:px-6 lg:px-8;
  }
}

/* CUSTOM STYLES */

.hero-right-col {
  transform: translateY(90px);
}

.scroll-down-button {
  top: calc(100vh - 80px);
}

.kayon-top-shapes {
  min-width: 100vw;
  justify-content: space-between;
}

.kayon-shadow-text {
  text-shadow: 1px 1px 4px #000000a6;
}

@media screen and (min-width: 390px) {
  .hero-right-col {
    transform: translateY(120px);
  }

  .scroll-down-button {
    top: calc(100vh - 180px);
  }
}

@media screen and (min-width: 768px) {
  .hero-right-col {
    transform: translateY(240px);
  }

  .scroll-down-button {
    top: calc(100vh - 90px);
  }

  .kayon-top-shapes {
    min-width: 75vw;
  }
}

@media screen and (min-width: 1024px) {
  .hero-right-col {
    transform: translateY(-60px);
  }
}

@media screen and (min-width: 1280px) {
  .hero-right-col {
    transform: translateY(0);
  }

  .scroll-down-button {
    top: calc(100vh - 150px);
  }
}

@media screen and (min-width: 1536px) {
  .kayon-ps-fix {
    padding-left: 122px;
  }
}

@media screen and (min-width: 1682px) {
  .kayon-ps-fix {
    padding-left: calc(50vw - 706px);
  }
}